<div class="titulo">
    <h1 class="titulo-h1">Skills</h1>
</div>
<div class="container-fluid">
    <div class="row py-2 col-10 justify-content-center m-auto">
        <div class="d-flex col-11 justify-content-end">
            <button type="button" class="btn btn-light">+ Hard Skill</button>
        </div>
        <div class="contenedor-bar" *ngFor="let skill of hardList">
            <div class="bar">
                <div class="nombre-skill">
                    {{skill.nombre}}
                </div>
                <div class="progress">
                    <div class="progress-bar fw-bold progress-bar-striped bg-primary" role="progressbar"
                        [style.width]="skill.porcentaje" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        {{skill.porcentaje}} </div>
                </div>
            </div>
            <div class="btn-edit">
                <a href="" class="btn-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                <a href="" class="btn-right"><i class="fa-solid fa-trash-can "></i></a>
            </div>
        </div>
    </div>
    <div class="col-12 espacio">
    </div>
    <div class="container-fluid">
        <div class="row  col-10 py-2 justify-content-center m-auto">
            <div class="d-flex col-11 justify-content-end">
                <button type="button" class="btn btn-light">+Soft Skill</button>
            </div>
            <div class="contenedor-bar" *ngFor="let skill of softList">
                <div class="bar">
                    <div class="nombre-skill">
                        {{skill.nombre}}
                    </div>
                    <div class="progress">
                        <div class="progress-bar fw-bold progress-bar-striped bg-success" role="progressbar"
                            [style.width]="skill.porcentaje" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                            {{skill.porcentaje}} </div>
                    </div>
                </div>
                <div class="btn-edit">
                    <a href="" class="btn-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                    <a href="" class="btn-right"><i class="fa-solid fa-trash-can "></i></a>
                </div>
            </div>
        </div>
    </div>