<div class="titulo">
    <h1 class="titulo-h1">Skills</h1>
</div>
<div class="container-fluid">
    <div class="row py-2 col-10 justify-content-center m-auto">
        <div class="d-flex col-11 justify-content-end">
            <button type="button" class="btn btn-light">+ Hard Skill</button>
        </div>
        <div class="skill col-3 text-center">
            <div class="d-flex align-items-end">
            <circle-progress
        [percent]="80"
        [radius]="85"
        [showUnits]='false'
        [showSubtitle]= "false"
        [imageSrc]="'../../../assets/imagenes/js.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [showImage]="true"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
                <div class="mb-1 btn-edit">
                    <a href="" class="btn-right me-2"><i class="fa fa-pencil " aria-hidden="true"></i></a>
                    <a href="" class="btn-right"><i class="fa-solid fa-trash-can "></i></a>
                </div>
            </div>
        </div>
        <div class="skill col-3 text-center">
            <div class="d-flex align-items-end">
            <circle-progress
    [percent]="85"
    [radius]="85"
    [showUnits]='false'
    [showSubtitle]= "false"
    [imageSrc]="'../../../assets/imagenes/html5.png'"
    [imageWidth]="100"
    [imageHeight]="100"
    [showImage]="true"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
            <div class="mb-1 btn-edit">
                <a href="" class="btn-right me-2"><i class="fa fa-pencil " aria-hidden="true"></i></a>
                <a href="" class="btn-right"><i class="fa-solid fa-trash-can "></i></a>
            </div>
        </div>
    </div>
        <div class="skill col-3 text-center">
            <div class="d-flex align-items-end">
                <circle-progress
        [percent]="75"
        [radius]="85"
        [showUnits]='false'
        [showSubtitle]= "false"
        [imageSrc]="'../../../assets/imagenes/css.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [showImage]="true"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
                <div class="mb-1 btn-edit">
                    <a href="" class="btn-right me-2"><i class="fa fa-pencil " aria-hidden="true"></i></a>
                    <a href="" class="btn-right"><i class="fa-solid fa-trash-can "></i></a>
                </div>
            </div>
        </div>
        <div class="skill col-3 text-center">
            <circle-progress
                [percent]="90"
                [radius]="85"
                [showUnits]='false'
                [showSubtitle]= "false"
                [imageSrc]="'../../../assets/imagenes/mysql.png'"
                [imageWidth]="100"
                [imageHeight]="100"
                [showImage]="true"
                [outerStrokeWidth]="10"
                [innerStrokeWidth]="5"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>
    </div>
</div>
<div class="col-12 espacio">

</div>
<div class="container-fluid">
    <div class="row  col-10 py-2 justify-content-center m-auto">
        <div class="d-flex col-11 justify-content-end">
            <button type="button" class="btn btn-light">+Soft Skill</button>
        </div>
        <div class="skill col-3 text-center">
            <div class="d-flex align-items-end">
            <circle-progress
        [percent]="80"
        [radius]="85"
        [showUnits]='false'
        [showSubtitle]= "false"
        [imageSrc]="'../../../assets/imagenes/aprendizaje.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [showImage]="true"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
    ></circle-progress>
                <div class="mb-1 btn-edit">
                    <a href="" class="btn-right me-2"><i class="fa fa-pencil " aria-hidden="true"></i></a>
                    <a href="" class="btn-right"><i class="fa-solid fa-trash-can "></i></a>
                </div>
            </div>
        </div>
        <div class="skill col-3 text-center">
            <circle-progress
    [percent]="85"
    [radius]="85"
    [showUnits]='false'
    [showSubtitle]= "false"
    [imageSrc]="'../../../assets/imagenes/gestiontiempo.png'"
    [imageWidth]="100"
    [imageHeight]="100"
    [showImage]="true"
    [outerStrokeWidth]="10"
    [innerStrokeWidth]="5"
    [outerStrokeColor]="'#78C000'"
    [innerStrokeColor]="'#C7E596'"
    [animation]="true"
    [animationDuration]="300"
></circle-progress>
        </div>
        <div class="skill col-3 text-center">
            <circle-progress
        [percent]="75"
        [radius]="85"
        [showUnits]='false'
        [showSubtitle]= "false"
        [imageSrc]="'../../../assets/imagenes/comunicación.png'"
        [imageWidth]="100"
        [imageHeight]="100"
        [showImage]="true"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="3"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        ></circle-progress>
        </div>
        <div class="skill col-3 text-center">
            <circle-progress
                [percent]="90"
                [radius]="85"
                [showUnits]='false'
                [showSubtitle]= "false"
                [imageSrc]="'../../../assets/imagenes/accountability.png'"
                [imageWidth]="100"
                [imageHeight]="100"
                [showImage]="true"
                [outerStrokeWidth]="8"
                [innerStrokeWidth]="3"
                [outerStrokeColor]="'#78C000'"
                [innerStrokeColor]="'#C7E596'"
                [animation]="true"
                [animationDuration]="300"
            ></circle-progress>
        </div>
    </div>
</div>

