*{
    margin: 0%;
    padding: 0%;
    background-color: #212529;
    color: antiquewhite;
}
.contenedor-bar{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: baseline;

}
.nombre-skill{
    font-weight: bold;
}
.bar{
    display: flex;
    width: 75%;   
    justify-content: space-between;
    align-items: baseline; 
}

.btn-right{
    padding-right: 1rem;
}
.btn-edit{
    display: flex;
    justify-content: space-evenly;
}
.progress{
    display: flex;
    width: 80%;
    margin-top: 1rem;
    background: #87adb6;
}
.titulo{
    display: flex;
    justify-content: space-between;
}
.titulo-h1{
    display: flex;
    margin: 35px;
}
.btn{
    display: flex;
    height: 30px;
    width: 100px;
    
    margin-right: 50px;
    justify-content: center;
}
.row{
    border: 1.5px solid blanchedalmond;
    border-radius: 30px;
}
.skill{
    border-radius: 30px;
}
h4{
    width: 90%;
}
.espacio{
    height: 10px;
}
.btn-edit{
    display: flex;
    justify-content: space-evenly;
}