*{
    margin: 0%;
    padding: 0%;
    background-color: #212529;
    color: antiquewhite;
}
.titulo{
    display: flex;
    justify-content: space-between;
}
.titulo-h1{
    display: flex;
    margin: 35px;
}
.btn{
    display: flex;
    height: 30px;
    width: 100px;
    
    margin-right: 50px;
    justify-content: center;
}
.row{
    border: 1.5px solid blanchedalmond;
    border-radius: 30px;
}
.skill{
    border-radius: 30px;
}
h4{
    width: 90%;
}
.espacio{
    height: 10px;
}
.btn-edit{
    display: flex;
    justify-content: space-evenly;
}