<div class="titulo">
    <h1 class="titulo-h1">Proyectos</h1>
    <button type="button" class="btn btn-light">+Proyectos</button>
</div>
<div class="conteiner-fluid">
    <div class="row justify-content-center">
        <div class="ms-2 col-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/imagenes/logo-calculadora-js.png" class="card-img-top" alt="calculadora-js">
                <div class="card-body">
                    <h5 class="card-title ms-2 mt-2">Calculadora JS</h5>
                    <p class="card-text ms-2 mt-2">Calculadora desarrollada en HTML, CSS y JavaScript, que realiza todas las
                        funciones basicas, con interfaz sencilla y fácil de usar, con una pantalla amplia y botones claros para las operaciones matemáticas...</p>
                    <div class="d-flex justify-content-between align-items-baseline">
                        <a href="#" class="btn btn-primary ms-2 mb-2">saber mas...</a>
                            <div class="btn-edit">
                                <a href="" class="btn-right me-2"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href="" class="btn-right m-2"><i class="fa-solid fa-trash-can "></i></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="ms-2 col-3">
            <div class="card" style="width: 18rem;">
                <img src="../../../assets/imagenes/pomodoro.png" class="card-img-top" alt="calculadora-js">
                <div class="card-body">
                    <h5 class="card-title ms-2 mt-2">Calculadora JS</h5>
                    <p class="card-text ms-2 mt-2">Calculadora desarrollada en HTML, CSS y JavaScript, que realiza todas las
                        funciones basicas, con interfaz sencilla y fácil de usar, con una pantalla amplia y botones claros para las operaciones matemáticas...</p>
                    <div class="d-flex justify-content-between align-items-baseline">
                        <a href="#" class="btn btn-primary ms-2 mb-2">saber mas...</a>
                            <div class="btn-edit">
                                <a href="" class="btn-right me-2"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                <a href="" class="btn-right m-2"><i class="fa-solid fa-trash-can "></i></a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>