<div class="titulo">
    <h1 class="titulo-h1">Education</h1>
    <button type="button" class="btn btn-light">+Education</button>
</div>
<div class="educacion">
    <ul>
        <li *ngFor="let educacion of educacionList">
            <div class="row">
                <div class="col-1"></div>
                <div class="col-3">
                    <img [src]="educacion.imagen" alt="">
                </div>
                <div class="col-6">
                    <div>
                        <h3>{{educacion.titulo}} <h6 class="text-muted">{{educacion.fechaInicio}} -
                                {{educacion.fechaFin}}</h6>
                        </h3>
                        <h5>{{educacion.localidad}} - {{educacion.pais}}</h5>
                        <p>{{educacion.info}}</p>
                    </div>
                </div>
                <div class="col-1">
                    <div class="btn-edit">
                        <a href="" class="btn-right"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a href="" class="btn-right"><i class="fa-solid fa-trash-can "></i></a>
                    </div>

                </div>
            </div>
        </li>
    </ul>
</div>