*{
    margin: 0;
    padding: 0%;
    color:aliceblue;
    background-color: #212529;
}
.titulo{
    display: flex;
    justify-content: space-between;
}
.titulo-h1{
    display: flex;
    margin: 35px;
}
.btn{
    display: flex;
    height: 30px;
    width: 100px;
    margin-top: 50px;
    margin-right: 50px;
    justify-content: center;
}
.btn-edit{
    display: flex;
    justify-content: space-evenly;
}
img {
    width: 300px;
}

ul {
    list-style: none;
}
li{
    margin-top: 20px;
}
