<div class="container-fluid d-flex py-3">
    <div class="div1 d-flex position-relative">
        <div class="divfoto d-block position-absolute">
            <div class="usuario justify-content-center d-flex">
                <img id="foto-user" src="../../../assets/imagenes/usuario.jpg" alt="">
                <div class="btn-edit btn-user">
                    <i class="fas fa-pen fa-lg"></i>
                </div>
            </div>
                <h5 class="pb-1">Pereyra Diego</h5>
                <h6>Desarrollador web</h6>
        </div>
    </div>    
    <div class="div2">
        <div class="acercade">
            <h4 class="mt-4">Acerca de mi </h4>
            <div class="btn-edit"><i class="fas fa-pen fa-lg"></i></div>
        </div>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Eaque quis, expedita nobis quia itaque magnam quam odit voluptatibus eum eius dolorum molestias nulla
        minus provident excepturi,
        laudantium ducimus harum? Nesciunt.</p>
    </div>
</div>
