<div class="container-fluid gx-0">
    <header class="d-flex flex-wrap align-items-center bg-dark justify-content-center justify-content-md-between py-3">
        <img src="../../../assets/imagenes/ap.png"
            class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-decoration-none ms-3" >
    

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="#" class="nav-link px-3 link-light">Home</a></li>
            <li><a href="#" class="nav-link px-3 link-light">Proyects</a></li>
            <li><a href="#" class="nav-link px-3 link-light">Skills</a></li>
            <li><a href="#" class="nav-link px-3 link-light">Experience</a></li>
            <li><a href="#" class="nav-link px-3 link-light">About</a></li>
            <li><a href="#" class="nav-link px-3 link-light">Contact</a></li>
        </ul>

            
        <div class="d-flex align-items-center col-md-2 text-end justify-content-md-between me-3">  
            <div class="redes align-items-center " >
                <ul style="margin: 0%;">
                    <li><a href="" class="social instagram"><i class="fa-brands fa-square-instagram fa-xl"></i></a></li>
                    <li><a href="" class="social twitter"><i class="fa-brands fa-square-twitter fa-xl" ></i></a></li>
                    <li><a href="" class="social facebook"><i class="fa-brands fa-square-facebook fa-xl"></i></a></li>
                </ul>
            </div> 
            <button type="button" class="btn  me-4">Login</button>
        </div>
    </header>
</div>